.adm-tab-bar-item {
  color: #dbdbdb !important;
  font-weight: 700 !important;
}
.adm-tab-bar-item-active {
  color: $active-font-light !important;
}

.adm-side-bar-item {
  color: $active-font-grey !important;
}
.adm-side-bar-item-active {
  color: $active-font-dark !important;
  font-weight: 700;
}

.adm-tabs-tab-active {
  color: $active-font-dark !important;
}

:root:root {
  --adm-color-primary: teal !important;
}

.skills {
  .adm-list-default {
    border: 0 !important;
    margin-top: -0.5rem !important;
  }
}
